ul {
    text-decoration: none;
}

li {
    position: relative;
    display: block;
    text-align: center;
    -webkit-animation: fadeIn 0.5s linear;
    animation: fadeIn 0.5s linear;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

li:nth-child(1) {
    -webkit-animation-delay: .75s;
    animation-delay: .75s;
}

li:nth-child(2) {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

/*  */
li:nth-child(3) {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

li:nth-child(4) {
    -webkit-animation-delay: 2.0s;
    animation-delay: 2.0s;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        top: 100px;
    }

    75% {
        opacity: 0.5;
        top: 0px;
    }

    100% {
        opacity: 1;
    }
}

#heart-svg {

    cursor: pointer;
    overflow: visible;
    width: 36px;
    margin: 0 10px;
}

svg #heart {
    transform-origin: center;
    animation: animateHeartOut .3s linear forwards;
}

.checkbox {
    display: none;
}

label {
    height: 50px;
}

.plate {
    display: flex;
    justify-content: space-between;
}

li .left {
    flex: 9;
}

li .right {
    flex: 1;
}

.price {
    /* justify-content: left; */
    margin-right: -10%;
}

.checkbox:checked+label svg #heart {
    /*   transform: scale(0.2); */
    transform: translateY(0);
    fill: #9356DC;
    animation: fillHeart 5s ease-in-out forwards;
}

@keyframes animateHeartOut {
    0% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fillHeart {
    0% {
        fill: transparent;
        transform: scale(1);
    }

    40% {
        fill: #9356DC;
        transform: scale(1.1);
    }

    100% {
        fill: #9356DC;
        transform: scale(1);
    }
}