.arrow-logo {
    display: flex;
    align-items: center;
    padding-bottom: 15px;

}

.arrow {
    flex-basis: 15%;
    font-size: 20px;
    padding-right: 25px;
}

.arrow-logo .logo {
    flex-basis: 55%;
}

.plate-image {
    width: 100%;
    height: 300px;
}

.plate-cat {
    width: 90%;
    position: relative;
    margin: 0 auto;
    background-color: RGB(233, 236, 239);
}

main {
    width: 100%;
}


.wrapper {
    /* padding: 0 10px; */
    width: 100%;
    padding-top: 25px;
    border: 1px solid lightgray;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    position: relative;
    background-color: RGB(233, 236, 239);
    top: -40px;
}

.menue-header {
    font-family: 'Shrikhand', 'Franklin Gothic Medium';
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-style: italic;
    font-size: 16px;
}

.menue-header h1 {
    font-size: 28px;
}

.cat-name {
    font-weight: lighter;
    padding-top: 20px;
    text-align: left;
}

.cat-name span {
    border-bottom: 2px solid #99E2D0;

}

.plates {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
    text-align: left;
}

.plate {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid gray;
    background-color: white;
    cursor: pointer;
}

.plate-name {
    font-weight: bold;
    text-align: left;
}

.plate-cont {
    display: flex;
    justify-content: space-between;
    font-weight: lighter;
}

ul li {
    display: flex;
    overflow: hidden;
}

li .left {
    flex: 3;
}

li .plate {
    display: flex;
    flex-direction: row;
}

li .right {
    /* flex: 1; */
    background: #F00;
    width: 0;
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: red;

}

li:hover {
    cursor: pointer;
    /* transform: translateX(8rem); */
    animation: animationActionBtn 10s ease-in-out;
    /* border: 5px solid black; */
}

@keyframes animationActionBtn {
    from {
        width: 0px;
    }

    to {
        width: 200px;
    }
}




.order {
    width: 100%;
    display: block;
    text-align: center;
}

.btn-order {
    width: 40%;
}