body {
    margin: 20px 200px;
}

.plates {
    width: 400px;
    padding-left: 0;
}

.plate {
    list-style-type: none;
    background-color: #F7F7F7;
    padding-left: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
}

.checkbox {
    display: none;
}

.left {
    width: 100%;
    transition: 1s;
}

.left:hover {
    cursor: pointer;
}

.left .plate-cont {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.right {
    width: 0;
    background: #F00;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease-in-out;
    transform: translateX(4rem);
    transition: 1s;
}

.fa-check-circle {
    color: #FFF;
    font-size: 200%;
    /*   transition: rotate 1s ease-in-out; */
}

.checkbox:checked+label .right {
    /*   animation: animationActionBtn 1s ease-in-out both; */
    width: 90px;
    transform: translateX(0);
}

.checkbox:checked+label .right .fa-check-circle {
    transform: rotate(1turn);
    transition: 1s;
}